body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
    
}

nav {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    background-color: rgb(255 141 97);
    color: white;
}
.nav-interno {
    width: 58%;
    display: flex;
    justify-content: space-between;
}

.logo-superior,  .logo-inferior {
    font-family: 'Pacifico', cursive;
}

.logo-superior{
    font-size: 20px;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 140px;
    padding: 8px 0 0;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: center;
    background-color: #ffd17c;
}

.header-interno {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 58%;
}

.header-interno-titulo {
    margin: 15px 0 10px;
}

.header-interno-busqueda {
    display: flex;
    justify-content: center;
}

.header-interno-input {
    
    width: 90%;
    padding: 2px 2px;
    margin: 3px;
    
}

.header-interno-botonbuscar {
    
    padding: 6px 25px;
    margin: 0 3px;
    border-radius: 5px;
    color: white;
    background-color: #f36838;
    border-color: red;
    box-shadow: 5px 5px 0px 0px #ff9775;
    border-style: none;
}

.header-interno-checkbox {
    margin-left:-5px;
    padding: 10px 0 15px;
}

section {
    display: flex;
    justify-content: center;
}

.section-interno {
    width: 58%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.section-interno-resultado {
    padding: 10px;  
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
    
}

.section-interno-receta {
    padding: 10px;  
    background-color: white;
    width: 190px;
    height: 60px;
    border: 2px solid #f36838;
    border-radius: 8px;
    margin: 10px;
    display: flex;
    
}

.section-interno-receta-info {
    
}

.section-interno-agregar {
    padding: 30px 0;
    text-align: right;
}

.facebook{
    margin-right: 10px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background-image: url(../img/facebook.svg);
    display: block;
    background-position:center;
    background-size: cover;
    fill: white;
}

footer{
  background-color: rgba(0, 0, 0, .3);
  color: white;
  position: absolute;
  bottom:0;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.footer-interno{
    display:flex;
    width:58%;
    margin: 0 auto;

}