body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
    height: 100%;
}

header {
    display: flex;
    background-color: rgb(255 141 97);
    color: white;
}

.signout {
    width: 22px;
    height: 22px;
    background-image: url(../img/signout.svg);
    display: block;
    background-position: center;
    background-size: cover;
    fill: white;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
    padding: 0 1.2rem;
    font-weight: 500;
    font-size: 1rem;
}

.titulo {
    font-size: 1.2rem;
    color: white;
}

.fuentelogo {
    font-family: 'Pacifico', cursive;
}

h1 {
    margin: 0.7rem;
    width: 100%;
    text-align: center;
}

h4 {
    font-size: 1.2rem;
    margin-top: 3rem;
}

h3 {
    margin: 2px;
    font-size: 1.1rem;
}

p .recetainfo {
    margin: 0.1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
}

.contenedor-busqueda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(248, 209, 161);
    padding: 0 0 1rem 0;
}

.busqueda {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
}

.busqueda-boton input {
    display: flex;
    justify-content: center;
    width: 100%;
}

.busqueda-boton {
    display: flex;
}

.busqueda-checkbox {
    margin: 1rem 0 0 0;
}

.button {
    padding: 6px 25px;
    margin: 0 3px;
    border-radius: 5px;
    color: white;
    background-color: #f36838;
    border-color: red;
    border-style: none;
}

.button:hover {
    background-color: orange;
}

.contenedor-resultado {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 0 1rem 0;
}

.resultados {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
}

.listado-resultado {
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
}

.receta-con-permiso {
    padding: 10px;
    background-color: white;
    border: 2px solid #f36838;
    border-radius: 0.6rem;
    display: flex;
    height: 4rem;
    width: 15rem;
    margin: 0.5rem 1rem 1rem 0;
}

.receta-sin-permiso {
    padding: 10px;
    background-color: white;
    border: 2px solid white;
    border-radius: 0.6rem;
    display: flex;
    height: 4rem;
    width: 15rem;
    margin: 0.5rem 1rem 1rem 0;
}

.receta-info {
    display: flex;
    flex-direction: column;
}

.imagenreceta {
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
    border-radius: 1rem;
}

.receta-botones {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 0 0.4rem;
    width: 20px;
    height: 20px;
}

.boton-agregar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.facebook {
    margin-right: 10px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background-image: url(../img/facebook.svg);
    display: block;
    background-position: center;
    background-size: cover;
    fill: white;
}

.add {
    margin-top: 4rem;
    width: 40px;
    height: 40px;
    background-image: url(../img/add.svg);
    display: block;
    background-position: center;
    background-size: cover;
    fill: white;
}

footer {
    background-color: rgba(0, 0, 0, .3);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer div {
    display: flex;
    width: 70%;
    justify-content: center;
}