body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
    height: 100%;
}

header {
    display: flex;
    background-color: rgb(255 141 97);
    color: white;
    align-items: center;
}

.signout {
    width: 22px;
    height: 22px;
    background-image: url(../img/signout.svg);
    display: block;
    background-position: center;
    background-size: cover;
    fill: white;
}

.nav-links {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

header a {
    color: white;
    text-decoration: none;
    padding: 0 1.2rem;
    font-weight: 500;
    font-size: 1rem;
    height: 100%;
}

.nav-links a:hover {
    background-color: orange;
}

.titulo {
    font-size: 1.2rem;
    color: white;
}

.fuentelogo {
    font-family: 'Pacifico', cursive;
}

h1 {
    margin: 0.7rem;
    width: 100%;
    text-align: center;
}

.facebook {
    margin-right: 10px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background-image: url(../img/facebook.svg);
    display: block;
    background-position: center;
    background-size: cover;
    fill: white;
}

footer {
    background-color: rgba(0, 0, 0, .3);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer div {
    display: flex;
    width: 70%;
    justify-content: center;
}