body {
  font-family: 'Roboto', sans-serif;
  background-color: blanchedalmond;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor{
    width: 25rem;
    padding-bottom: 2rem;
	  background-color: white;
    border: 1px solid #ECE8E8;
	  border-radius:0.8rem;
}

.titulo{
    text-align: center;
    font-size: 2rem;
    color: red;
}

.fuentelogo{
    font-family: 'Pacifico', cursive;
}

.button{
    padding: 10 px;
    margin: 10px auto 0;
    color: white;
    background-color: red;
    display: block;
    border-width: 0.5px;
    padding: 10px 15px;
    border-radius:5px;
}

input {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border: solid 1px blanchedalmond;
  }
  
  .login{
    display: block;
    margin: 0 auto;
    width: 70%;
  }

  .login-form{
    text-align:left;
  }
  
  
  .login-form input {
    width: 100%;
    border-width: 3px;
    margin: 0 0 10px 0px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .facebook{
      margin-right: 10px;
      margin-top: 10px;
      width: 40px;
      height: 40px;
      background-image: url(../img/facebook.svg);
      display: block;
      background-position:center;
      background-size: cover;
      fill: white;
  }

  footer{
    background-color: rgba(0, 0, 0, .3);
    color: white;
    position: absolute;
    bottom:0;
    width: 100%;
    
  }

  footer div{
      display:flex;
      width: 70%;
      margin: 0 auto;

  }