body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
    height: 100%;
}

header {
    display: flex;
    background-color: rgb(255 141 97);
    color: white;
    align-items: center;
}

.signout {
    width: 22px;
    height: 22px;
    background-image: url(../img/signout.svg);
    display: block;
    background-position: center;
    background-size: cover;
    fill: white;
}

.nav-links {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

header a {
    color: white;
    text-decoration: none;
    padding: 0 1.2rem;
    font-weight: 500;
    font-size: 1rem;
    height: 100%;
}

.nav-links a:hover {
    background-color: orange;
}

.titulo {
    font-size: 1.2rem;
    color: white;
}

.fuentelogo {
    font-family: 'Pacifico', cursive;
}

h1 {
    margin: 0.7rem;
    width: 100%;
    text-align: center;
}

.contenedor-receta {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.receta {
    display: flex;
    width: 60%;
    border-radius: 2rem;
    flex-direction: column;
}

.top-receta {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: linen;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.negrita {
    font-weight: 600;
}

.imagenreceta {
    display: flex;
    width: 10rem;
    height: 10rem;
    border-top-left-radius: 2rem;
}

.perfil-receta {
    display: flex;
    flex-direction: column;
    text-align: right;
}

h2 {
    margin: 0.5rem 0.5rem;
    font-size: 2rem;
}

.bot-receta {
    background: snow;
    display: flex;
    flex-direction: column;
}

.textbox {
    font-family: 'Roboto', sans-serif;
    border: solid 1px blanchedalmond;
    border-width: 0.1rem;
    padding: 0.4rem;
    margin-left: 0.4rem;
}

.inforeceta {
    display: flex;
    margin-top: 1rem;
    justify-content: space-around;
    align-items: center;
}

.infoizquierda {
    display: flex;
    align-items: center;
}

.contenedor-ingredientesypasos {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.ingrediente {
    display: flex;
    justify-content: space-between;
}

.titulo-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding: 6px 25px;
    margin: 0 3px;
    border-radius: 5px;
    color: white;
    background-color: #f36838;
    border-color: red;
    border-style: none;
}

.facebook {
    margin-right: 10px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background-image: url(../img/facebook.svg);
    display: block;
    background-position: center;
    background-size: cover;
    fill: white;
}

footer {
    background-color: rgba(0, 0, 0, .3);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer div {
    display: flex;
    width: 70%;
    justify-content: center;
}