<div class="bot-datos-izq">
  <div class="bot-datos-peso datos-bloque">
      <label class="pesotexto" for="peso">Peso (Kgs.)</label>
      <input type="number" name="peso" id="peso" class="datos-input border-colorsecundario">
  </div>
  <div class="bot-datos-estatura datos-bloque">
      <label for="estatura" class="bot-datos-estaturatexto">Estatura</label>
      <input type="number" name="estatura" id="estatura" class="datos-input border-colorsecundario">
  </div>

</div>
<div class="bot-datos-der">

  <div class="bot-datos-nacimiento datos-bloque">
      <label class="bot-datos-nacimientotexto" for="nacimiento">Nacimiento</label>
      <input type="date" id="nacimiento" class="datos-input border-colorsecundario" name="nacimiento">
  </div>
  <div class="bot-datos-rutina datos-bloque">
      <label class="bot-datos-rutinatexto" for="rutina">Rutina</label>
      <select class="datos-input border-colorsecundario" id="rutina" name="rutina">
          <option value="intensivo">Intensivo</option>
          <option value="activo">Activo</option>
          <option value="mediano">Mediano</option>
          <option value="leve">Leve</option>
          <option value="nada">Nada</option>
      </select>
  </div>
</div>