<header>
    <h1 class="fuentelogo titulo">Food Overflow</h1>
    <label class="navtoggle" for="toggle">&#9776;</label>
    <input type="checkbox" id="toggle" />
    <nav class="nav-links">
        <a routerLink='/busqueda'><span class="icononav"><i class="fa fa-home"></i></span>Home</a>
        <a routerLink='/perfil'><span class="icononav"><i class="fa fa-user"></i></span>Perfil</a>
        <a routerLink='/login'><i class="fa fa-sign-out"></i><span class="icononav">Salir</span></a>
    </nav>
</header>