<app-header></app-header>
<div class="contenedor-receta">
    <div class="receta">
        <div class="top-receta contenedor-colorsecundario">
            <img src="assets/img/{{receta.img}}" class="imagenreceta" />

            <div class="perfil-receta">
                <h2><input type="text" class="inputtitulo contenedor-colorsecundario" size='15' maxlength='20' [(ngModel)]="receta.nombreDelPlato"></h2>
                <p>por {{receta.autor.nombre}}</p>
                <p><span class="negrita occult">Inadecuado para </span><span *ngFor="let inadecuado of receta.inadecuadoPara()">{{inadecuado.nombre}}  </span></p>
            </div>
        </div>
        <div class="bot-receta contenedor-blanco">

            <form action="" class="inforeceta">
                <div class="infoizquierda">
                    <label for="" class="negrita">Total de calorias</label>
                    <input type="number" class="textbox" id="calorias" name="receta.calorias" [(ngModel)]="receta.calorias" />
                </div>
                <div class="infoderecha">
                    <label for="" class="negrita">Dificultad</label>
                    <select class="form-control" name="receta.dificultad" [(ngModel)]="receta.dificultad" class="textbox border">
                        <option *ngFor="let dificultad of enumDificultades" [value]="dificultad">{{dificultades[dificultad]}}</option>
                </select>
                </div>
            </form>

            <div class="contenedor-ingredientesypasos">

                <div class="ingrediente">
                    <div class="titulo-bot">
                        <h3>Ingredientes</h3>
                        <button (click)="agregarIngrediente()" class="button mobile">Agregar</button>
                        <button (click)="agregarIngrediente()" class="button buttonoccult"><i class="fa fa-plus-circle"></i></button>
                    </div>
                    <div>
                        <table class="TablaIngredientes">
                            <tr *ngFor="let ingrediente of receta.listaIngredientes">
                                <td>{{ingrediente.nombre}}</td>
                                <td class="Tabla_Valor">{{ingrediente.cantidad}}</td>
                                <td class="Tabla_Cruz"><a><i (click)="eliminarIngrediente(ingrediente)" class="fa fa-times-circle"></i></a></td>
                            </tr>

                        </table>
                    </div>
                </div>

                <div class="pasos">
                    <div class="titulo-bot">
                        <h3>Pasos</h3>
                        <button (click)="agregarPaso()" class="button mobile">Agregar</button>
                        <button (click)="agregarPaso()" class="button buttonoccult"><i class="fa fa-plus-circle"></i></button>
                    </div>
                    <div>
                        <table class="TablaIngredientes">
                            <tr *ngFor="let paso of receta.listaPasos;let indice=index">
                                <td>{{indice+1}}. {{paso}}</td>
                                <td class="Tabla_Cruz"><a><i (click)="eliminarPaso(paso)" class="fa fa-times-circle"></i></a></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

            <div class="colaboradores">
                <h3>Colaboradores</h3>
                <button (click)="agregarColaborador()" class="button mobile">Agregar</button>
                <button (click)="agregarColaborador()" class="button buttonoccult"><i class="fa fa-plus-circle"></i></button>
            </div>

            <div class="contenedor-lista-colaboradores">
                <div class="lista">
                    <div class="top-lista colaborador fondotitulo">Nombre</div>
                    <button *ngFor="let colaborador of receta.listaColaboradores" class="colaborador selector"><p>{{colaborador.nombre}}</p><a (click)="eliminarColaborador(colaborador)"><i class="fa fa-times-circle"></i></a></button>
                </div>


                <div class="botones">
                    <button (click)="aceptar()" class="button">Aceptar</button>
                    <button (click)="cancelar()" class="button button2">Cancelar</button>
                </div>


            </div>

        </div>


    </div>

</div>