<div class="contenedor-receta">
    <div class="receta">
        <div class="top-receta contenedor-colorsecundario">
            <img src="img/guiso.jpg" class="imagenreceta" />

            <div class="perfil-receta">
                <h2>Guiso de lentejas</h2>
                <p>por Juan Carlos de la Hoya</p>
                <p><span class="negrita occult">Inadecuado para </span>Veganos, vegetarianos, hipertensos</p>
            </div>
        </div>
        <div class="bot-receta contenedor-blanco">

            <form action="" class="inforeceta">
                <div class="infoizquierda">
                    <label for="" class="negrita">Total de calorias</label>
                    <input type="text" class="textbox" id="calorias" />
                </div>
                <div class="infoderecha">
                    <label for="" class="negrita">Dificultad</label>
                    <select class="textbox border">
                    <option value="1">Baja</option> 
                    <option value="2">Media</option> 
                    <option value="3">Alta</option>
                </select>
                </div>
            </form>

            <div class="contenedor-ingredientesypasos">

                <div class="ingrediente">
                    <div class="titulo-bot">
                        <h3>Ingredientes</h3>
                        <button class="button mobile">Agregar</button>
                        <button class="button buttonoccult"><i class="fa fa-plus-circle"></i></button>
                    </div>
                    <div>
                        <table class="TablaIngredientes">
                            <tr>
                                <td>Lentejas</td>
                                <td class="Tabla_Valor">200gr.</td>
                                <td class="Tabla_Cruz"><a href=""><i class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr>
                                <td>Cebolla</td>
                                <td class="Tabla_Valor">2 unidades</td>
                                <td class="Tabla_Cruz"><a href=""><i class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr>
                                <td>Ajo</td>
                                <td class="Tabla_Valor">1 diente</td>
                                <td class="Tabla_Cruz"><a href=""><i class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr>
                                <td>Panceta</td>
                                <td class="Tabla_Valor">100gr.</td>
                                <td class="Tabla_Cruz"><a href=""><i class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr>
                                <td>Papas</td>
                                <td class="Tabla_Valor">3 unidades</td>
                                <td class="Tabla_Cruz"><a href=""><i class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr>
                                <td>Aceite</td>
                                <td class="Tabla_Valor">dos cditas.</td>
                                <td class="Tabla_Cruz"><a href=""><i class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr>
                                <td>Carne</td>
                                <td class="Tabla_Valor">1/2 kilo</td>
                                <td class="Tabla_Cruz"><a href=""><i class="fa fa-times-circle"></i></a></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="pasos">
                    <div class="titulo-bot">
                        <h3>Pasos</h3>
                        <button class="button mobile">Agregar</button>
                        <button class="button buttonoccult"><i class="fa fa-plus-circle"></i></button>
                    </div>
                    <div>
                        <table class="TablaIngredientes">
                            <tr>
                                <td>1 Remojar las lentjas durante 24 horas.</td>
                                <td class="Tabla_Cruz"><a href=""><i class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr>
                                <td>2 Cortar la cebolla en cubos.</td>
                                <td class="Tabla_Cruz"><a href=""><i class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr>
                                <td>3 Picar el ajo.</td>
                                <td class="Tabla_Cruz"><a href=""><i class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr>
                                <td>4 Rehogar todo en un sartén</td>
                                <td class="Tabla_Cruz"><a href=""><i class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr>
                                <td>5 Agregar la panceta y la carne</td>
                                <td class="Tabla_Cruz"><a href=""><i class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr>
                                <td>6 Luego de 10' agregar caldo</td>
                                <td class="Tabla_Cruz"><a href=""><i class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr>
                                <td>7 A la media hora agregar las lentejas</td>

                                <td class="Tabla_Cruz"><a href=""><i class="fa fa-times-circle"></i></a></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

            <div class="colaboradores">
                <h3>Colaboradores</h3>
                <button class="button mobile">Agregar</button>
                <button class="button buttonoccult"><i class="fa fa-plus-circle"></i></button>
            </div>

            <div class="contenedor-lista-colaboradores">
                <div class="lista">
                    <div class="top-lista colaborador fondotitulo">Nombre</div>

                    <button class="colaborador selector"><p>Pablo</p><a href=""><i class="fa fa-times-circle"></i></a></button>
                    <button class="colaborador selector"><p>Santiago</p><a href=""><i class="fa fa-times-circle"></i></a></button>
                    <button class="colaborador selector"><p>David</p><a href=""><i class="fa fa-times-circle"></i></a></button>
                </div>


                <div class="botones">
                    <button class="button">Aceptar</button>
                    <button class="button button2">Cancelar</button>
                </div>


            </div>

        </div>


    </div>

</div>