

    <div class="alimentos-top">
        <div class="alimentos-nombre">{{titulo}}</div>
        <button class="alimentos-boton button">Agregar</button>
        <a href="" class="alimentos-boton-400 button2 selector"><i class="fa fa-plus-circle"></i></a>
    </div>
    <table class="alimentos-lista border">
        <tr>
            <th colspan="2" class="alimentos-bloquelista-top fondotitulo border-bottom-colorsecundario">Alimento</th>
        </tr>
        <tr>
            <td *ngFor="let alimento of listaDeAlimentos" class="alimentos-bloquelista border-bottom-colorsecundario">{{alimento.nombreDeAlimento}}</td>
            <td *ngFor="let alimento of listaDeAlimentos" class="border-bottom-colorsecundario"><i class="fa fa-times-circle"></i></td>
        </tr>
    </table>
 
