main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.contenedor {
    display: flex;
    flex-direction: column;
    width: 25rem;
    padding-bottom: 2rem;
    background-color: white;
    border: 1px solid #ECE8E8;
    border-radius: 0.8rem;
    align-items: center;
    justify-content: center;
}

.login-form button {
    padding: 10 px;
    margin: 10px auto 0;
    color: white;
    display: block;
    border-width: 0.5px;
    padding: 10px 15px;
    border-radius: 5px;
}

.contenedor .titulo {
    font-size: 2rem;
}

input {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.login {
    display: flex;
    width: 70%;
}

.login-form {
    text-align: left;
}

.login-form input {
    width: 100%;
    border-width: 3px;
    margin: 0 0 10px 0px;
    padding: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 400px) {
    .contenedor {
        margin: 0 5%;
    }
}

@media screen and (max-width: 768px) and (min-width:401px) {
    .contenedor {
        margin: 0 5%;
    }
}