<main>
    <div class="contenedor">
        <h1 class="fuentelogo titulocolor">Food Overflow</h1>

        <div class="login">
            <form class="login-form">

                <label for="">Usuario</label>

                <input type="text" placeholder="username" id="usuario" />

                <label for="">Contraseña</label>

                <input type="password" placeholder="password" id="contraseña" />

                <button (click)="login()" class="button">Ingresar</button>

            </form>
        </div>
    </div>
</main>