<main>
    <div class="contenedor">
        <h1 class="tituloalimentos contenedor-colorsecundario">Ingredientes</h1>
        <div class="contenedor-listadealimentos contenedor-blanco">
            <div class="lista">
                <div class="alimento top fondotitulo">Ingrediente</div>
                <app-tabla-alimentos></app-tabla-alimentos>
            </div>
            <div class="cantidad">
                <div class="textocantidad">Cantidad</div>
                <div class="inputcantidad border">
                    <input type="text" placeholder="" id="cantidad">
                </div>

            </div>
            <div class="contenedor-botones">
                <div class="botones-block">
                    <button class="button">Aceptar</button>
                    <button class="button button2">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</main>
