.condiciones-tipos {
    padding: 1vh 0;
    display: flex;
    flex-flow: wrap;
    border: 1.5px;
    border-radius: 7px;
    border-style: solid;
}

.condiciones-tipos-bloque {
    width: 33%;
    padding: 0.5vh;
    box-sizing: border-box;
}