<main>
    <div class="contenedor">
        <h1 class="tituloalimentos contenedor-colorsecundario ">Alimentos</h1>
        <div class="contenedor-listadealimentos contenedor-blanco">
            <div>
                <app-tabla-alimentos [nombreTabla]='nombreTabla' (alimentoEvent)="alimentoRecibido($event)"></app-tabla-alimentos>
            </div>
            <div class="contenedor-botones">
                <div class="botones-block">
                    <button class="button" (click)=irAOrigen()>Aceptar</button>
                    <button class="button button2" (click)=irAOrigen()>Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</main>