main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.contenedor {
    margin: 3vh 0 5vh;
    width: 60%;
    min-width: 750px;
    display: flex;
    height: 100%;
    flex-flow: column;
    padding: 1vh;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 1vh;
    border: 0 hidden white;
    border-radius: 1vh 1vh 0 0;
}

.top-nombreimc {
    display: flex;
    flex-flow: column;
}

.top-nombreimc-nombre {
    font-size: 1.4em;
    font-weight: bold;
}

.top-nombreimc-imc {
    font-size: 0.9em;
}

.top-salud {
    display: flex;
    padding: 0 2vh;
}

.top-salud-img {
    padding: 0.3vh 0.7vh;
}

.top-salud-estado {
    padding: 0.4vh 0.7vh;
    font-size: 0.9em;
}

.bot {
    background-color: white;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 0 2vh;
    border: 0 hidden white;
    border-radius: 0 0 1vh 1vh;
}

.bot-datos {
    width: 75%;
    min-width: 401px;
    display: flex;
    flex-flow: column;
}

.bot-datos-izq,
.bot-datos-der {
    display: flex;
    justify-content: space-around;
}

.datos-bloque {
    width: 40%;
    min-width: 190px;
    padding: 1vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.datos-input {
    border: 1.5px;
    width: 55%;
    min-width: 103px;
    border-radius: 5px;
    padding: 6px;
    border-style: solid;
    box-sizing: border-box;
    text-align: center;
}

.bot-datos-pesotexto {
    min-width: 83px;
}

.condiciones {
    width: 100%;
}

.condiciones-nombre,
.recetas-nombre {
    padding: 1vh 0;
    font-size: 1rem;
    font-weight: bolder;
}

.alimentos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2vh 0;
}

.alimentos-display {
    width: 45%;
    display: flex;
    flex-flow: column;
}

.alimentos-top {
    display: flex;
    height: 3vh;
    justify-content: center;
}

.alimentos-nombre {
    font-size: 1rem;
    font-weight: bolder;
    display: flex;
}

.alimentos-boton-400 {
    display: none;
}

.alimentos-lista {
    padding: 1vh 0 0 1vh;
    width: 100%;
}

td,
th {
    padding: 0.7vh 0;
    /*background-color: white;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-collapse: collapse;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 1px;
    margin: 1vh 0;
    border-style: solid;
}

.alimentos-bloquelista {
    padding: 0 0 0 13.6%;
}

.alimentos-bloquelista-espacio {
    padding: 0 1vh;
}

.alimentos-bloquelista-top {
    color: white;
}

.contenedor-resultado {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 0 1rem 0;
}

.resultados {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
}

.listado-resultado {
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
}

.botonesbot {
    width: 100%;
    padding: 2vh;
    padding-right: 2vh;
}

.botonesbot-bloque {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    float: right;
}

@media (max-width: 768px) {
    .contenedor {
        margin: 3vh 0 5vh;
        width: 95%;
        min-width: 385px;
        padding: 1vh;
    }
    .listado-resultado {
        justify-content: center;
    }
    .alimentos-top {
        display: flex;
        height: 6vh;
        width: 100;
        justify-content: center;
        width: 100%;
        align-self: center;
    }
    .condiciones-tipos-bloque {
        font-size: 0.9rem;
    }
    .datos-bloque {
        width: 40%;
        min-width: 180px;
        padding: 1vh 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .datos-input {
        width: 55%;
        min-width: 95px;
        padding: 6px;
    }
    .alimentos-display {
        width: 48%;
    }
    .alimentos-boton.button {
        height: 50%;
        flex: 4 4 30%
    }
}

@media (max-width: 400px) {
    .contenedor {
        margin: 3vh 0 5vh;
        min-width: 0;
    }
    .top-salud {
        padding: 1vh 0 0 8vh;
    }
    .bot {
        padding: 0 1vh;
    }
    .bot-datos {
        width: 100%;
        display: flex;
        flex-flow: column;
        min-width: 0;
    }
    .bot-datos-izq,
    .bot-datos-der {
        flex-flow: wrap;
    }
    .datos-input {
        width: 55%;
        min-width: 95px;
        padding: 6px;
    }
    .datos-bloque {
        width: 100%;
        min-width: 180px;
        padding: 0.5vh 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .condiciones-tipos-bloque {
        font-size: 1rem;
        width: 50%;
        min-width: 117px;
        padding: 0;
    }
    .alimentos {
        display: flex;
        flex-flow: column;
        width: 100%;
        padding: 2vh 0;
        align-content: center;
    }
    .alimentos-display {
        width: 100%;
        display: flex;
    }
    .alimentos-top {
        justify-content: space-between;
        height: 3vh;
        width: 100%;
        font-size: 0.9rem;
        margin-top: 1vh;
    }
    .alimentos-boton-400 {
        display: block;
        border: 1px;
        border-style: solid;
        padding: 0.1vh 0.4vh 0;
        border-radius: 3px;
        align-self: center;
    }
    .fa.fa-plus-circle {
        color: white;
    }
    .alimentos-boton.button {
        display: none;
    }
    table {
        margin: 1vh 0;
    }
}