<main>
    <div class="contenedor">
        <div class="top perfil-top contenedor-colorsecundario">
            <div class="top-nombreimc">
                <div class="top-nombreimc-nombre">{{usuarioPerfil.nombre}}</div>
                <div class="top-nombreimc-imc">IMC: {{usuarioPerfil.calculoIMC() | number:'1.2-2':'en'}}</div>
            </div>
            <div class="top-salud">
                <div class="top-salud-img"><i class="fa fa-heartbeat"></i></div>
                <div class="top-salud-estado">{{esSaludableTexto()}}</div>
            </div>
        </div>

    
        <div class="bot">
            <div class="datosperfil">
                <div class="bot-datos-izq">
                    <div class="bot-datos-peso datos-bloque">
                        <label class="pesotexto" for="peso">Peso (Kgs.)</label>
                        <input type="number" name="peso" id="peso" class="datos-input border-colorsecundario" [(ngModel)]="usuarioPerfil.peso">
                    </div>
                    <div class="bot-datos-estatura datos-bloque">
                        <label for="estatura" class="bot-datos-estaturatexto">Estatura</label>
                        <input type="number" name="estatura" id="estatura" class="datos-input border-colorsecundario" [(ngModel)]="usuarioPerfil.estatura">
                    </div>
                
                </div>
                <div class="bot-datos-der">
                
                    <div class="bot-datos-nacimiento datos-bloque">
                        <label class="bot-datos-nacimientotexto" for="nacimiento">Nacimiento</label>
                        <input type="date" id="nacimiento" class="datos-input border-colorsecundario" name="nacimiento" [(ngModel)]="usuarioPerfil.fechaDeNacimiento">
                    </div>
                    <div class="bot-datos-rutina datos-bloque">
                        <label class="bot-datos-rutinatexto" for="rutina">Rutina</label>
                        <select class="datos-input border-colorsecundario" id="rutina" name="rutina">
                            <option value="intensivo">Intensivo</option>
                            <option value="activo">Activo</option>
                            <option value="mediano">Mediano</option>
                            <option value="leve">Leve</option>
                            <option value="nada">Nada</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="condiciones">
                <div class="condiciones-nombre">Condiciones</div>
                <div class="condiciones-tipos border-colorsecundario" >
                    <div class="condiciones-tipos-bloque" *ngFor="let condicion of condiciones">
                            <label class="tipos-bloque" for={{condicion.nombre}}>
                            <input type="checkbox" id={{condicion.nombre}} name={{condicion.nombre}}>{{condicion.nombre}}</label>
                    </div>
                </div>
            </div>

            <div class="alimentos">
                <app-alimentosperfil [titulo]="'Alimentos Preferidos'" [listaDeAlimentos]="alimentosPreferidos" [usuario]="usuarioPerfil"></app-alimentosperfil>
                <app-alimentosperfil [titulo]="'Alimentos No Preferidos'" [listaDeAlimentos]="alimentosDisgustados" [usuario]="usuarioPerfil"></app-alimentosperfil>
            </div>

            <div class="recetas">
                <div class="recetas-nombre">Mis recetas</div>
                <div class="listado-resultado">
                    <app-cardreceta *ngFor="let receta of ultimasRecetas" [receta]="receta" [resultado]="this"></app-cardreceta>

                </div>
            </div>

            <div class="botonesbot">
                <div class="botonesbot-bloque">
                    <div class="button" (click)=aceptar()>Aceptar</div>
                    <div class="button button2" (click)=irAHome()>Cancelar</div>
                </div>
            </div>

        </div>
    </div>
</main>